<!doctype html>
<html>
<head><title>Rail Easy | Dashboard</title>
<link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" ></head>
{% include 'head.html' %}

<body>
    {% include 'social.html' %}


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h3 style="text-align:center">Dashboard</h3>
<div class="container">
	<div class="row">
		<div id="my-div" class="col-sm-2" style="background:green;margin-left:30px;background-image: url('static/img/blog.png');">
			<a href="#" class="fill-div">

					<!-- <p style="text-align:center;"><h3>Blog summary</h3></p> -->
			</a> 
		</div>
		
		<div id="my-div" class="col-sm-3" style="background:green;margin-left:30px;background-image: url('static/img/user_summary.png');">
			<a href="#" class="fill-div">
<!-- 			<p style="text-align:center;"><h3>User summary</h3></p>
 -->		</a>
		</div>
		<div  id="my-div" class="col-sm-2" style="background:green;margin-left:30px;background-image: url('static/img/images.jpeg');">
			<a href="#" class="fill-div">
			<p style="text-align:center;"><h3>contact summary</h3></p>
		</a>
		</div>
		<div id="my-div" class="col-sm-2" style="background:green;margin-left:30px;background-image: url('static/img/images.jpeg');">
			<a href="#" class="fill-div">
			<p style="text-align:center;"><h3>Your Account</h3></p>
		</a>
		</div>
	</div>
</div>
 </body>
{% include 'footer.html' %}
</html>
