<!DOCTYPE html>
<!--
TEMPLATE
Name: Zoo Planet
Version: 1.0
Created: 23 January 2014

AUTHOR
Design and code by: http://www.bootshape.com
Free stock photos by: http://www.bootshape.com

Read full license: http://www.bootshape.com/license.php

CREDITS
Background: http://subtlepatterns.com/ (extra_clean_paper)
Fonts: http://www.google.com/fonts (Actor, Duru_Sans)

SUPPORT
E-mail: bootshape.com@gmail.com
Contact: http://www.bootshape.com/contact.php
-->
<html>
<head>
<title>
      Disclaimer</title>
      <link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
</head>
{% include 'head.html' %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
  <body>
    {% include 'social.html' %}

    <div class="container">
        <div class="col-xs-12">
          <h3><center>Disclaimer</center></h3>
          <br/>
          <p>
            Rail Easy is not affilated to indian railway . It is just a medium to help the people to get all usefull information about rail on thier browser and mobile app while traveling.They can easy track or check information like PNR,Live Status,Between Station etc. in a better way.Rail Easy will helps in finding the best train selection in between the various stations and you will be benifited by station information as well.so that you can easy get near by attractions ,restaurant and hotels as well.We have a blog option for all public name is Easy Blog which will helps in providing the information related to the events and new posting and updates regarding trains.One important thing we have provided the news and events menus which tell you all the latest news head lines with read more button.Rail Easy is non-profit platform its all uses for socially only . It is bulid and develop in latest technology which makes more fast and user friendly while using by the people.
          </p>
    </div>
  </div>
    
    
  </body>
  {% include 'footer.html' %}
</html>
