<!DOCTYPE html>
<!--
TEMPLATE
Name: Zoo Planet
Version: 1.0
Created: 23 January 2014

AUTHOR
Design and code by: http://www.bootshape.com
Free stock photos by: http://www.bootshape.com

Read full license: http://www.bootshape.com/license.php

CREDITS
Background: http://subtlepatterns.com/ (extra_clean_paper)
Fonts: http://www.google.com/fonts (Actor, Duru_Sans)

SUPPORT
E-mail: bootshape.com@gmail.com
Contact: http://www.bootshape.com/contact.php
-->
<html>
<head>
<title>
      Rail Easy</title>
      <link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
</head>
{% include 'head.html' %}
<br/>
<br/>
  <body>
    {% include 'social.html' %}

    <div class="container">
        <div class="col-xs-12">
          <h3 class="">About</h3>
<!--           <img src="/static/img/rail3.jpg" alt="" class="img-responsive">
 -->          <br/>
           <p style=" text-indent: 50px;margin-top:10px;">   Welcome ! To Our India. India is so much beautiful having all different types of culture and Communities make India proud on the world. here everyone tries to be as  APJ Kalam Ajad .same in the railway sector we are growing towards modernisation day by day by which a lot of differences are observed in our society and people are benefited with them. we are now going to launch bullet train as before we have added some premium trains like Talgo, Gatiman express etc.</p>
          <!-- <p>It is a premium train in India name is Golden Chariot, it will give a feel like luxury rooms and bed inside a train.Each people who travel in this train always be proud to be a part of that.Services are very good.Some more popular luxury trains come in the same category like Maharaja Express, Royal Rajasthan express, Deccan Odyssey etc.</p> -->
    </div>
  </div>
    <!-- Slide gallery -->
   <!-- <div class="jumbotron">
      <div class="container">
        <div class="col-xs-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
          <!-- Indicators -->
     <!--     <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>-->
          <!-- Wrapper for slides -->
     <!--     <div class="carousel-inner">
            <div class="item active">
              <img src="/static/img/150168.jpg" alt="">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="/static/img/rail3.jpg" alt="">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="/static/img/rail2.jpg" alt="">
              <div class="carousel-caption">
              </div>
            </div>
          </div> -->
          <!-- Controls -->
       <!--   <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        </div>
      </div>-->
      <!-- End Slide gallery -->
    </div>
    <!--  <div class="container">
      <div class="">
        
        <p style=" text-indent: 50px;">   Welcome ! To Our India. India is so much beautiful having all different types of culture and Communities make India proud on the world. here everyone tries to be as  APJ Kalam Ajad .same in the railway sector we are growing towards modernisation day by day by which a lot of differences are observed in our society and people are benefited with them. we are now going to launch bullet train as before we have added some premium trains like Talgo, Gatiman express etc.</p>
      </div>
    </div> -->

    <!-- Thumbnails -->
    <div class="container thumbs">

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/static/img/live_status.png" alt="" class="img-responsive">
          <div class="caption">
            <h3 class="">Train Live Status</h3>
            <p>Here! Easily you are able to find the train running information clearly and all related information as well.</p>
            <div class="btn-toolbar text-center">
              <a href="/train_live_status" role="button" class="btn btn-primary pull-right">Live Status</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/static/img/cancelled.png" alt="" class="img-responsive">
          <div class="caption">
            <h3 class="">Cancelled Trains</h3>
            <p>Here! Easily you are able to find all the trains and information  which are being cancelled at particular date.</p>
            <div class="btn-toolbar text-center">
              <a href="/train_cancelled" role="button" class="btn btn-primary pull-right">Cancelled</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/static/img/reschedule.png" height="20%" alt="" class="img-responsive">
          <div class="caption">
            <h3 class="">Reschedule Trains</h3>
             <p>Here! Easily you are able to find all the information about trains which are rescheduled at particular date.</p>
            <div class="btn-toolbar text-center">
              <a href="/train_reschedule" role="button" class="btn btn-primary pull-right">Rescheduled</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End Thumbnails-->
    <!-- Content -->
    <div class="container">
      <!--<div class="">
        <h3 class="">Welcome</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
      </div> -->
      <div class="row">
        <!-- <div class="col-sm-8">
          <h3 class="">About</h3>
          <img src="/static/img/goldenchariot.jpg" alt="" class="img-responsive">
          <br>
          <p>It is a premium train in India name is Golden Chariot, it will give a feel like luxury rooms and bed inside a train.Each people who travel in this train always be proud to be a part of that.Services are very good.Some more popular luxury trains come in the same category like Maharaja Express, Royal Rajasthan express, Deccan Odyssey etc.</p>
        </div> -->
        <div class="col-sm-12">
          <h3 class="">News &amp; Events</h3>
          <!-- <marquee> -->
          <div class="event">
            
            {% for each_1 in rows.articles %}
            <div class="text-right date">
              {% if each_1["publishedAt"] %}
              {{each_1["publishedAt"]}}
              {% endif %}
            </div>
            <h4>{{each_1["title"]}}</h4>
            <img src={{each_1["urlToImage"]}} height="30%" width="55%" alt="" class="img-responsive">
            <br/>
            <p>{{each_1["description"]}}</p>
            <div class="text-right">
              <a href={{each_1["url"]}} target="_blank">See more...</a>
             <!--  <a href={{each_1["urlToImage"]}}>Image</a> -->
            </div>
            {% endfor %}

            
            <!-- <div class="text-right date">01/22/2014</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industr y. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
            <div class="text-right">
              <a href="#">See more...</a>
            </div>
          </div>
          <div class="event">
            <div class="text-right date">01/22/2014</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industr y. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <div class="text-right">
              <a href="#">See more...</a>
            </div>
          </div>
          <div class="event">
            <div class="text-right date">01/22/2014</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industr y. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <div class="text-right">
              <a href="#">See more...</a>
            </div>
          </div> -->
        </div>
      <!-- </marquee> -->
      </div>
    </div><!-- End Content -->
    
  </body>
  {% include 'footer.html' %}
</html>
