<html>
<head>
<title>
Rail Easy | Get App
</title>
<link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
 </head>
  {% include 'head.html' %}
  <body>
    {% include 'social.html' %}

<!-- <h2 style="text-align: center;">Get Train Live Status</h2> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="col-sm-12">
  <marquee behavior="scroll" direction="left"><h3><i>Rail Easy App is soon will be launch.</i></h3></marquee>

</div>
<br/>
<br/>
<center>
	<div class="container">
  <h2>App Gallery</h2>
  <!-- <p>The .thumbnail class can be used to display an image gallery.</p>
  <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p> -->
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0001.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0001.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0002.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0002.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0003.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0003.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0004.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0004.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0005.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0005.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0006.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0006.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0007.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0007.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0007.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0007.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0008.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0008.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0008.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0008.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0008.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0008.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0008.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0008.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_0009.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_0009.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_00010.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_00010.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_00011.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_00011.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_00012.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_00012.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_00013.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_00013.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/img/Indian_Rail_UI_00014.jpg" target="_blank">
          <img src="/static/img/Indian_Rail_UI_00014.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>


  <!-- <div class="col-sm-12">
  <img src="/static/img/Indian_Rail_UI_0001.jpg" height="600" width="340" />
</div> -->
</center>

<br/>
</body>
{% include 'footer.html' %}

</html>