<html>
<head>
<title>
Get App
</title>
<link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
 </head>
  {% include 'head.html' %}
  <body>
    {% include 'social.html' %}

<!-- <h2 style="text-align: center;">Get Train Live Status</h2> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="col-sm-12">
  <marquee behavior="scroll" direction="left"><h3><i>Rail Easy App is soon will be launch.</i></h3></marquee>

</div>
<br/>
<br/>
<center>
  <div class="col-sm-12">
  <img src="/static/img/Indian_Rail_UI_0001.jpg" height="600" width="340" />
</div>
</center>

<br/>
</body>
{% include 'footer.html' %}

</html>