<!doctype html>
<html>
<head><title>Contact Us</title>
<link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" ></head>
{% include 'head.html' %}

<body>
    {% include 'social.html' %}


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div style="width:1000px;" class="container"> 
<div class="alert alert-success">
  <strong>Success!</strong> Query is posted Sucessfully.
</div>

<div class="alert alert-info">
  <strong>We will be Contact you shortly !</strong> Thanks for connecting with Us.
</div>
</div>
 
</body>
{% include 'footer.html' %}

</html>
