<html>
   <head>
      <title>
         Rail Easy | Blog
      </title>
      <link rel="icon" 
         type="image/png" 
         href="/static/img/Indian_Railway.png" >
      <script type = "text/javascript">
         // function showForm() {
         // document.getElementById("theform").style.display = "block";
         // }
         // $('.make_default').click(function(e)
         // {
         //     // Special stuff to do when this link is clicked...
         
         //     // Cancel the default action
         //     e.preventDefault();
         // });
      </script>
   </head>
   {% include 'head.html' %}
   <body>
      {% include 'social.html' %}
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="container">
         <nav class="navbar navbar-default" role="navigation">
            <div class="col-sm-12">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Search</a>
               </div>
               <div class="navbar-collapse collapse" id="navbar-collapsible">
                  <!-- <ul class="nav navbar-nav navbar-left">
                     <li><a href="#">Link 1</a></li>
                     <li><a href="#">Link 2</a></li>
                     </ul> -->
                  <div class="navbar-form navbar-right btn-group">
                     <a href="/add" class="btn btn-default">New Post</a>
                     <!--  <button type="button" class="btn btn-default">Button 2</button>
                        <button type="button" class="btn btn-default">Button 3</button> -->
                  </div>
                  <form class="navbar-form" method="GET" action="search">
                     <div class="form-group" style="display:inline;">
                        <div class="input-group">
                           <input type="text" name="query" id="query" placeholder="Enter some text to search" class="form-control">
                           <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                           </span>
                           <span> <button type="submit" class="btn btn-primary" >Search</button>
                           </span>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </nav>
      </div>
      <!-- <div class="jumbotron text-center">
         <h2>Your Rail Easy Blog</h2>
         <p><i>Find and post all whatever you want !</i></p> 
         </div> -->
      <div class="container">
         <div class="col-sm-8 well-sm jumbotron" style="margin-left:10px;margin-right:10px;">
            {% for post in posts %}
            <div class="row">
               <h3>{{post[0]}}</h3>
               <h6><small>{{post[1]}}</small></h6>
               <br/>
               <img class="img-responsive" height="500" width="700" src="data:;base64,{{ post[3]}}"/>
               <p>{{post[2]|safe}}</p>
            </div >
            {% endfor %}
            <br/>
            <hr/>
            <div id = "theform" class="col-sm-12">
               {% for message in form.comment.errors %}
               <div>{{ message }}</div>
               {% endfor %}
               <form action="/post_comment" method=post>
                  <fieldset>
                     <legend><strong>Post a comment</strong></legend>
                     {{ form.hidden_tag() }}
                     <div class="form-group ">
                        <!-- {{ form.comment.label }}<br/> -->
                        {{ form.comment(class="form-control",rows="6") }}
                        {{ form.submit(class="btn btn-success black make_default ") }}
                     </div>
                  </fieldset>
               </form>
            </div>
         </div>
      </div>
      <br/>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 well-sm jumbotron">
<!--             <h3>All Posted Comments are</h3>
 -->        {% for comment in comments %}
            <div class="well">
              <h6 class="pull-right"><small>{{comment[1]}}</small></h6>
              <br>
              <p>{{ comment[0] }}</p>
               
              
               
            </div >
            <br/>
            {% endfor %}
          </div>

        </div>
      </div>
      </div>

   </body>
   {% include 'footer.html' %}
</html>