<html>
 <head>
  <title>Rail Easy | All Cancelled Trains</title>
  <link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
     </head>
  {% include 'head.html' %}
  <body>
    {% include 'social.html' %}

<!-- <h2 style="text-align: center;">Get Train Live Status</h2> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% for row in  rows%}

<div style="width:1000px;" class="container">

  <br/>
  <br/>
  <div class="table-responsive">
    <table  class="table table-hover" align="center" >
      <thead>
      <th>Train Number</th>
      <th>Train Name</th>
      <th>Start Date</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Train Type</th>
      
      </thead>
      <tbody>
        {% for train_data in  row.trains%}

        <tr class="active">
          <td>{{train_data["number"]}}</td>
          <td>{{train_data["name"]}}</td>
          <td>{{train_data["start_time"]}}</td>
          <td>{{train_data["source"]["code"]}}-{{train_data["source"]["name"]}}</td>
          <td>{{train_data["dest"]["code"]}}-{{train_data["dest"]["name"]}}</td>
          <td>{{train_data["type"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endfor %}


<!-- <a href="/">Go back to home page</a> -->
 
</body>
{% include 'footer.html' %}

</html>
