<html>
 <head>
  <title>Rail Easy | All Reschedule Trains</title>
  <link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
     </head>
  {% include 'head.html' %}
  <body>
    {% include 'social.html' %}

<!-- <h2 style="text-align: center;">Get Train Live Status</h2> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{% for row in  rows%}

<div style="width:1000px;" class="container">
  
 
  <div class="table-responsive" >
    <table  class="table table-hover" align="center" >
      <thead>
        <th>Train Number</th>
        <th>Train Name</th>
      <th>Source </th>
      <th>Destination</th>
      <th>Reschedule Date</th>
      <th>Reschedule Time</th>
      <th>Time Delay</th>
      </thead>
      <tbody>
        {% for train_data in  row.trains%}

        <tr class="active">
                    <td>{{train_data["number"]}}</td>
          <td>{{train_data["name"]}}</td>

          <td>{{train_data["from_station"]["code"]}}-{{train_data["from_station"]["name"]}}</td>
          <td>{{train_data["to_station"]["code"]}}-{{train_data["to_station"]["name"]}}</td>
          <td>{{train_data["rescheduled_date"]}}</td>

          <td>{{train_data["rescheduled_time"]}}</td>
          <td>{{train_data["time_diff"]}} Hrs.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endfor %}


<!-- <a href="/">Go back to home page</a>
 --> 
</body>
{% include 'footer.html' %}

</html>
