<html>
 <head>
  <title>Rail Easy | All Cancelled Trains</title>
  <link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
     </head>
  {% include 'head.html' %}
  <body>
    {% include 'social.html' %}

<!-- <h2 style="text-align: center;">Get Train Live Status</h2> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- {% for dict_item in rows %}
   {% for key, value in dict_item.items() %}
      <h1>Key: {{key}}</h1>
      <h2>Value: {{value}}</h2> 
   {% endfor %}
{% endfor %} -->
{% for row in  rows%}

<div style="width:1000px;" class="container">
  <table border=1px align="center">
  <thead>
    <th>Last Update Date/Time</th>
    
   
  </thead>
    <tbody>
    <tr class="active">
    <td>
    {% if 'last_updated' in row %}
    {{row["last_updated"]["date"]}} {{row["last_updated"]["time"]}}
    {% endif %}</td>
    </tr>
  </tbody>
  </table>
  <br/>
  <br/>
  <div class="table-responsive">
    <table  class="table table-hover" align="center" >
      <thead>
      <th>Train Number</th>
      <th>Train Name</th>
      <th>Start Time</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Train Type</th>
      
      </thead>
      <tbody>
        {% for train_data in  row.trains%}

        <tr class="active">
          <td>{{train_data["train"]["number"]}}</td>
          <td>{{train_data["train"]["name"]}}</td>
          <td>{{train_data["train"]["start_time"]}}</td>
          <td>{{train_data["source"]["code"]}}-{{train_data["source"]["name"]}}</td>
          <td>{{train_data["dest"]["code"]}}-{{train_data["dest"]["name"]}}</td>
          <td>{{train_data["train"]["type"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endfor %}


<a href="/">Go back to home page</a>
 
</body>
{% include 'footer.html' %}

</html>
