<html>
 <head>
  <title>All Cancelled Trains</title>
  <link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
     </head>
  {% include 'head.html' %}
  <body>
    {% include 'social.html' %}

<!-- <h2 style="text-align: center;">Get Train Live Status</h2> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- {% for dict_item in rows %}
   {% for key, value in dict_item.items() %}
      <h1>Key: {{key}}</h1>
      <h2>Value: {{value}}</h2> 
   {% endfor %}
{% endfor %} -->
{% for row in  rows%}

<div style="width:1000px;">
  <table border=1px align="center">
  <thead>
    <th>Totals</th>
    
   
  </thead>
    <tbody>
    <tr>
    <td>
   
    {{row["total"]}}
  </td>
    </tr>
  </tbody>
  </table>
  <br/>
  <br/>
  <div class="table-responsive">
    <table  class="table table-bordered" align="center" >
      <thead>
      <th>Station Code</th>
      <th>Station Name</th>
      <th> Name</th>
      <th> Lat</th>
      <th> Lang</th>
      </thead>
      <tbody>
        {% for train_data in  row.station%}

        <tr>
          <td>{{train_data["code"]}}</td>
          <td>{{train_data["fullname"]}}</td>
          <td>{{train_data["name"]}}</td>
          <td> {{train_data["lat"]}}</td>
          <td> {{train_data["lng"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endfor %}


<a href="/">Go back to home page</a>
 
</body>
{% include 'footer.html' %}

</html>
