<html>
 <head>
  <title>Rail Easy | Live Status</title>
  <link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
     </head>
  {% include 'head.html' %}
  <body>
    {% include 'social.html' %}

<!-- <h2 style="text-align: center;">Get Train Live Status</h2> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- {% for dict_item in rows %}
   {% for key, value in dict_item.items() %}
      <h1>Key: {{key}}</h1>
      <h2>Value: {{value}}</h2> 
   {% endfor %}
{% endfor %} -->
<div >
{% for row in  rows%}
<div class="row">
  <div class="col-md-8 col-md-offset-5" >
    <h3>Train Live Status</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

      <div class="table-responsive" >
      <table  border="0px" align="center" class="table table-hover ">
        <thead>
          <th>
            Train Number
          </th>
          <th>
            Start date
          </th>
          <th>
            Running Status
          </th>
        </thead>
        <tbody>

          <tr class="active">
           
            <td>{{row["train"]["number"]}}-{{row["train"]["name"]}}</td>
        
              <td>{{row["start_date"]}}</td>
         
              <td>{{row["position"]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
  <div class="col-md-10 col-md-offset-1">
      <div class="table-responsive">
      <table align="center" border="0px" class="table table-hover ">
            <caption><h3>Current Station Information</h3></caption>
             <thead>
              <th>Current Station</th>
              <th>Lat</th>
              <th>Lang</th>
              
            </thead>
            <tbody>
            {% if 'current_station' in row %}
             {% for curr_st in  [row.current_station]%}
              <tr class="active">
                  <td>
                      {{curr_st['code']}}-{{curr_st['name']}}
               </td>
             
                  <td>{{curr_st["lat"]}}</td>              
                  <td>{{curr_st["lng"]}}</td>
                  
              </tr>
              {% endfor %}
          {% endif %}
            </tbody>
          </table>
      </div>

  </div>
</div>

<br/>
<br/>
<div class="row">
  <div class="col-md-10 col-md-offset-1" >
    
    <div class="table-responsive">
  <table align="center" border="0px" class="table table-hover ">
     <caption><h3>Running Schedule</h3></caption>
    <thead>
      <th>Station</th>
      <th>Schedule Depart</th>
      <th>Actual Depart</th>
      <th>Schedule Arrival</th>
      <th>Actual Arrival Date</th>
      <th>Actual Arrival</th>
      <th>Platform No</th>
      <th>Distance(Km.)</th>
      <th>Day</th>
      <th>Status</th>

    </thead>
    
    <tbody>
      {% for route_info in  row.route%}
      <tr class="active">
        <td>{% if 'station' in route_info %}
        {{route_info["station"]['code']}}-{{route_info["station"]['name']}}
        {% endif %}</td>
      <td>{{route_info["schdep"]}}</td>
      <td>{{route_info["actdep"]}}</td>
      <td>{{route_info["scharr_date"]}}</td>
      <td>{{route_info["actarr_date"]}}</td>
      <td>{{route_info["actarr"]}}</td>
      <td>{{route_info["no"]}}</td>
      <td>{{route_info["distance"]}}</td>
      <td>{{route_info["day"]}}</td>
      <td>{{route_info["status"]}}</td>

      </tr>
      {% endfor %}
    </tbody>
    
</table>
</div>
  </div>
</div>

{% endfor %}
</div>
<a href="/">Go back to home page</a>
 
</body>
{% include 'footer.html' %}

</html>
