<html>
<head>
<title>
Rail Easy | Train Between Station
</title>
<link rel="icon" 
      type="image/png" 
      href="/static/img/Indian_Railway.png" >
       </head>
  {% include 'head.html' %}
  <script>
  $(document).ready(function() {
    $(".datepicker_my").datepicker({ dateFormat: 'dd-mm-yy'});
  });
  </script>
  <body>
        {% include 'social.html' %}


<!-- <h2 style="text-align: center;">Get Train Live Status</h2> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
<div style="width:300px;" class="col-sm-4">
    {% for message in form.s_code.errors %}
    <div>{{ message }}</div>
    {% endfor %}
    {% for message in form.d_code.errors %}
    <div>{{ message }}</div>
    {% endfor %}
    {% for message in form.doj.errors %}
    <div>{{ message }}</div>
    {% endfor %}
    <form action="/train_btw_station" method=post >
      <fieldset>
       <legend>Find Train Between Station</legend>
        {{ form.hidden_tag() }}
       <div class="form-group col-sm-4">
        {{ form.s_code.label }}
        <br/>
        {{ form.s_code }}
        <br/>
         {{ form.d_code.label }}
         <br/>
        {{ form.d_code }}
        <br>
         {{ form.doj.label }}
         <br/>
        {{ form.doj(class='datepicker_my') }}
        <br/>
       
        {{ form.submit }}
      </div>
    </fieldset>
    </form>
</div>
<div class="col-sm-8">
  <center><h3><u>Directions To Find</u></h3></center>
  <p>
    <ul  style="font-size: 18px;">
      <li>Enter code for source and destination station eg. bct,mtj etc.
</li>
      <li>Select Appropiate date on which train is running and you want to spot it.</li>
      <li>After filling data just hit the Find button and than please be patience now fun start Rail Easy will take give all trains in between selected station.</li>
      
      <li>
        Here i presented all the information in a tabular format which is easy for every user to retrive and note.
      </li>
    </ul>

  </p>
  
  <br/>
  <p>
     <p>
      <center><h3><u>Causes For Failure</u></h3></center>
      
    <ul  style="font-size: 18px;">
      <li>The data which you are entering are not proper related with source and destination code.
</li>
      <li>The date which you are selecting is not correct date.</li>
      <li>Server having Techincal Issue , Don't be panic please try after some time.</li>
      
     
    </ul>

  </p>
  
  <br/>
  <p>
    <strong>Note:</strong>Kindly write us or Contact if you have any issue while getting the information on Rail Easy.
  </p>
</div>
 </div>
</body>
{% include 'footer.html' %}

</html>